{% extends 'store/main2.html' %}

{% load static %}

{% block content %}


<div class="body-content outer-top-xs">
    <div class='container'>
      <div class='row'>
        <div class='col-xs-12 col-sm-12 col-md-3 sidebar'> 
          <!-- ================================== TOP NAVIGATION ================================== -->
          <div class="side-menu animate-dropdown outer-bottom-xs">
            <div class="head"><i class="icon fa fa-align-justify fa-fw"></i> Categories</div>
            <nav class="yamm megamenu-horizontal">
              <ul class="nav">
                <li class="dropdown menu-item"> <a href="{% url 'category' 'Clothes' %}" class="dropdown-toggle" data-toggle="dropdown"><i class="icon fa fa-shopping-bag" aria-hidden="true"></i>Clothing</a></li>  
                <li class="dropdown menu-item"> <a href="{% url 'category' 'Electronics' %}" class="dropdown-toggle" data-toggle="dropdown"><i class="icon fa fa-laptop" aria-hidden="true"></i>Electronics</a></li>
                <li class="dropdown menu-item"> <a href="{% url 'category' 'Shoes' %}" class="dropdown-toggle" data-toggle="dropdown"><i class="icon fa fa-paw" aria-hidden="true"></i>Shoes</a></li>
                <li class="dropdown menu-item"> <a href="{% url 'category' 'Jewelry' %}" class="dropdown-toggle" data-toggle="dropdown"><i class="icon fa fa-gift"></i>Jewellery</a></li>
                <li class="dropdown menu-item"> <a href="{% url 'category' 'Cosmetics' %}" class="dropdown-toggle" data-toggle="dropdown"><i class="icon fa fa-eye-slash"></i>Cosmetics</a></li>
                <li class="dropdown menu-item"> <a href="{% url 'category' 'Foods' %}" class="dropdown-toggle" data-toggle="dropdown"><i class="icon fa fa-cutlery"></i>Foods & Beverages</a></li>
                <li class="dropdown menu-item"> <a href="{% url 'category' 'Furnitures' %}" class="dropdown-toggle" data-toggle="dropdown"><i class="icon fa fa-briefcase"></i>Furnitures</a></li>
                <li class="dropdown menu-item"> <a href="{% url 'category' 'Books' %}" class="dropdown-toggle" data-toggle="dropdown"><i class="icon fa fa-book"></i>Books</a></li>
                <li class="dropdown menu-item"> <a href="{% url 'category' 'Accessories' %}" class="dropdown-toggle" data-toggle="dropdown"><i class="icon fa fa-gamepad"></i>Game Accessories</a></li>
                <li class="dropdown menu-item"> <a href="{% url 'category' 'Fashion' %}" class="dropdown-toggle" data-toggle="dropdown"><i class="icon fa fa-bullseye"></i>Beauty & Fashion</a></li>
                <li class="dropdown menu-item"> <a href="{% url 'category' 'Parts' %}" class="dropdown-toggle" data-toggle="dropdown"><i class="icon fa fa-car"></i>Auto & Parts</a></li>
                
              </ul>
              <!-- /.nav --> 
            </nav>
            <!-- /.megamenu-horizontal --> 
          </div>
          <!-- /.side-menu --> 
          <!-- ================================== TOP NAVIGATION : END ================================== -->
          <div class="sidebar-module-container">
  
            <!-- /.sidebar-filter --> 
          </div>
          <!-- /.sidebar-module-container --> 
        </div>
        <!-- /.sidebar -->
        <div class="col-xs-12 col-sm-12 col-md-9 rht-col"> 
          <!-- ========================================== SECTION – HERO ========================================= -->
          
          <div id="category" class="category-carousel hidden-xs">
          </div>
       
          <div class="search-result-container ">
            <div id="myTabContent" class="tab-content category-list">
              <div class="tab-pane active " id="grid-container">
                <div class="category-product">
     
                  <div class="row">
                    {% for product in products %}
                    <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="item">
                      <div class="products">
                        <div class="product">
                          <div class="product-image">
                            <div class="image"> 
                            <a href="detail.html">
                               <img src="{{product.imageURL}}" alt=""> 

                            </a> 
                         </div>  
                            <div class="tag new"><span>new</span></div>
                          </div>
                          
                          <div class="product-info text-left">
                            <h3 class="name"><a href="detail.html">{{product.name}}</a></h3>
                            <div class="rating rateit-small"></div>
                            <div class="description"></div>
                            <h4 style="display: inline-block; float: right">&#8358 {{product.price|floatformat:0}}</h4>
                            <button data-product="{{product.id}}" data-action="add" class="btn btn-success add-btn update-cart">Add to Cart</button>
                          </div> 
                        </div>     
                      </div>
  
                      </div>
                    </div>
                    {% endfor %}
         
  
                  </div>
  
                </div>
     
              </div>
  
            </div>
            <!-- /.tab-content -->
            <div class="clearfix filters-container bottom-row">
              <div class="text-right">
                <div class="pagination-container">
                  <ul class="list-inline list-unstyled">
                    <li class="prev"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                    <li><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li class="next"><a href="#"><i class="fa fa-angle-right"></i></a></li>
                  </ul>
                </div>
              </div> 
              
            </div>
            <!-- /.filters-container --> 
            
          </div>
          
        </div>
        <!-- /.col --> 
      </div>
   </div>


{% endblock content %}

