{% extends 'store/main2.html' %}


{% block content %}

<!-- main content -->
<div class="main-content">
    <div class="wrap-banner">

        <div class="acount head-acount">
            <div class="container">
                <div id="main">
                    <h1 class="title-page">My Account</h1>
                    <div class="content" id="block-history">
                        <table class="std table">
                            <tbody>
                                <tr>
                                    <th class="first_item">My Name :</th>
                                    <td>{{user.username}}</td>
                                </tr>
                                <tr>
                                    <th class="first_item">My Email :</th>
                                    <td>{{user.email}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="body-content">
	<div class="container">
		<div class="sign-in-page">
			<div class="row">
<div class="col-md-6 col-sm-6 create-new-account">
	<h1 class="checkout-subtitle">Order History</h1>
	<p class="text title-tag-line">Find your Shopping Information Here</p>
	<div class="container">
 
		<div class="form-group">
	    	<label class="info-title" for="exampleInputEmail2">Total Items in Cart :<span></span></label> {{cartItems}}
	  
	  	</div>
        <div class="form-group">
		    <label class="info-title" for="exampleInputEmail1">Grand Total Price<span></span></label> &#8358 {{order.get_cart_total}}

		</div>
        <hr>
	  	<a href="{% url 'homePage' %}"><button class="btn-upper btn btn-primary checkout-page-button">Back to Shop</button></a>
        <a href="{% url 'checkout' %}"><button class="btn-upper btn btn-success checkout-page-button">Proceed to Checkout</button></a>
	</div>
   
</div>	
</div>
</div>
<div id="brands-carousel" class="logo-slider wow fadeInUp">

		<div class="logo-slider-inner">	
			<div id="brand-slider" class="owl-carousel brand-slider custom-carousel owl-theme">
				<div class="item m-t-15">
					<a href="#" class="image">
						<img data-echo="assets/images/brands/brand1.png" src="assets/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item m-t-10">
					<a href="#" class="image">
						<img data-echo="assets/images/brands/brand2.png" src="assets/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="assets/images/brands/brand3.png" src="assets/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="assets/images/brands/brand4.png" src="assets/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="assets/images/brands/brand5.png" src="assets/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="assets/images/brands/brand6.png" src="assets/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="assets/images/brands/brand2.png" src="assets/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="assets/images/brands/brand4.png" src="assets/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="assets/images/brands/brand1.png" src="assets/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="assets/images/brands/brand5.png" src="assets/images/blank.gif" alt="">
					</a>	
				</div>
		    </div>
		</div>
	
</div>
</div>
</div>

{% endblock content %}
